.input {
  box-sizing: border-box;
  width: 350px;
  height: 60px;
  background-color: rgba(248, 249, 250, 1);
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #e9ecef;
  box-shadow: 0 8px 20px rgb(189 197 209 / 40%);
  margin: 10px;
  font-size: 16px;
  text-align: center;
}
.input:focus {
  outline: none;
}
.input::-webkit-input-placeholder {
  text-align: center;
  font-weight: bold;
  color: #94a3b8;
  letter-spacing: 1px;
}
.input::-moz-placeholder {
  text-align: center;
  font-weight: bold;
  color: #94a3b8;
  letter-spacing: 1px;
}
.input:-ms-input-placeholder {
  text-align: center;
  font-weight: bold;
  color: #94a3b8;
  letter-spacing: 1px;
}
.input:-moz-placeholder {
  text-align: center;
  font-weight: bold;
  color: #94a3b8;
  letter-spacing: 1px;
}
.input::placeholder {
  text-align: center;
  font-weight: bold;
  color: #94a3b8;
  letter-spacing: 1px;
}
.input:focus::-webkit-input-placeholder {
  /* WebKit browsers */
  color: transparent;
}

.input:focus:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: transparent;
}

.input:focus::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: transparent;
}

.input:focus:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: transparent;
}
