@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.todo_data_editing {
  display: grid;
  grid-template-columns: 25px 1fr 50px;
  padding: 5px;
}
.todo_new_title {
  border: none;
  font-size: 16px;
  background-color: #f1f5f9;
  padding: 0 3px;
  outline: none;
}
.edit_submit_button {
  border: none;
  background-color: #e2e8f0;
  border-radius: 5px;
  cursor: pointer;
}
.edit_button {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  background-image: url("./assets/icon/edit.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
  cursor: pointer;
  padding: 0;
}
.delete_button {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  background-image: url("./assets/icon/delete.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
  cursor: pointer;
  padding: 0;
}
